body {
    background-color:#383838;
    color: 	#D3D3D3;
    font-family: Courier;
}
#song_name_space {
    margin-top: 4.3%;
    margin-left: 22%;
    font-size: 20px;
}

#title_text {
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}


/* control the left portion */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 3%;
}

/* control the left portion */
.left {
	left: 0;
	width: 20%;
	background-color: gray;
}

/* control the right portion */
.right {
	right: 0;
	width: 80%;
}


/* ====== button stuff  ====== */
/* this is what does the sliding hover motion */
button, button::after { 
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
button {
height: 40px;
background: none;
border: 4px solid #fff;
border-radius: 10px;
color: #fff;
display: block;
/*font-size: 0.3em;*/ /* I made the font bigger :O*/
font-weight: bold;
margin: 10px auto;
padding: 2em 6em;
position: relative;
text-transform: uppercase;
}
button::before, button::after {
background: #fff;
content: '';
position: absolute;
z-index: -1;
}
button:hover {
color: #FF6666; /* color of SUBMIT */
}
.button2::after {
height: 100%;
left: 0;
top: 0;
width: 0;
}
.button2:hover:after {
width: 100%;
}

/*
-- Color palette -- 
#383838; - background
#D3D3D3; - off-white
#FF6666; - salmon
#74BDCB; - blue
#CC3366; - pomegranate
#FFFF99; - yellow
*/